html, body {
  margin: 0;
  padding: 0;
  font-family: 'Prata', serif;
}
canvas {
  display: block;
  position: fixed;
}

#my-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#whole-page {
  position: relative;
}
#storyv1-container {
  position: absolute;
  left: 100px;
  top: 100px;
}

#text1-container {
  position: absolute;
  left: 200px;
  top: 537px;
}

#text2-container {
  position: absolute;
  left: 900px;
  top: 537px;
}

#text3-container {
  position: absolute;
  left: 1600px;
  top: 537px;
}

#text4-container {
  position: absolute;
  left: 2300px;
  top: 537px;
}

#text5-container {
  position: absolute;
  left: 3000px;
  top: 537px;
}

#text6-container {
  position: absolute;
  left: 3700px;
  top: 537px;
}

#text7-container {
  position: absolute;
  left: 4400px;
  top: 537px;
}

#storyv2-container {
  position: absolute;
  left: 2000px;
  top: 200px;
}
#container {
  position: absolute;
  left: 2000px;
  top: 200px;
}

#wip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
p {
  font-size: 15px;
  text-align: center;
  width: 500px;
}

h1 {
  font-size: 40px;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
  text-align: left;
  font-size: 30px;
}

div {
  float: inline-start;
}

